@{ 
    Layout = "/views/shared/_Layout.cshtml";
}


    <main class="page-404">
    <div class="container text-center">
        <div class="page-404-title">
            <h1>صفحه&zwnj;ای که دنبال آن بودید پیدا نشد!</h1>
        </div>
        <div class="page-404-actions">
            <a href="/" class="page-404-action page-404-action--primary">صفحه اصلی</a>
        </div>
        <div class="page-404-image">
            <img src="~/Template/images/404.png">
        </div>
    </div>
</main>

