@using OnlineShop.Models

@{
    var db = new OnlineShopEntities();
    Layout = "/views/shared/_Layout.cshtml";
    int id = Convert.ToInt32(ViewBag.order);
    var basket = db.Baskets.Find(id);
}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
@{
    if (basket != null)
    {
        <main class="profile-user-page default">
            <div class="row">
                <div class="container">
                    <div class="col-12">
                        <div class="col-12">
                            <h1 class="title-tab-content">وضعیت پرداخت</h1>
                        </div>
                        <div class="content-section default" style="min-height:300px">
                            <div class="row" style="text-align:center">
                                @{
                                    if (basket.payMethod == "پرداخت درب منزل")
                                    {
                                        <img src="~/Template/images/success.png" alt="" class="successIcon" />
                                        <h1 class="successTitle">سفارش با موفقیت ثبت شد</h1>
                                        <div class="col-sm-12 col-md-12 successMainBox">
                                            <p>
                                                <span>وضعیت پرداخت:</span>
                                                <span>پرداخت درب منزل</span>
                                            </p>
                                            <p>
                                                <span>شناسه سفارش:</span>
                                                <span>@basket.id</span>
                                            </p>
                                            <br />
                                            <a class="btn btn-default" href="/UserProfile/profile/orderDetail/@basket.id">پیگیری سفارش</a>
                                        </div>
                                    }
                                    else
                                    {
                                        if (basket.payed == true)
                                        {
                                            <img src="~/Template/images/success.png" alt="" class="successIcon" />
                                            <h1 class="successTitle">پرداخت با موفقیت انجام شد</h1>
                                            <div class="col-sm-12 col-md-12 successMainBox">
                                                <p>
                                                    <span>شناسه پرداخت:</span>
                                                    <span>@basket.token</span>
                                                </p>
                                                <p>
                                                    <span>شناسه سفارش:</span>
                                                    <span>@basket.id</span>
                                                </p>
                                                <br />
                                                <a class="btn btn-default" href="/UserProfile/profile/orderDetail/@basket.id">پیگیری سفارش</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <img src="~/Template/images/cross.png" alt="" class="successIcon" />
                                            <h1 class="successTitle">پرداخت ناموفق</h1>
                                            <div class="col-sm-12 col-md-12 successMainBox">
                                                <p>
                                                    <span>پرداخت شما ناموفق بود لطفا دوباره امتحان کنید</span>
                                                </p>
                                            </div>
                                        }
                                    }

                                }





                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    }
}
@section js{
}
<style>
    h1.successTitle {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    img.successIcon {
        width: 150px;
        margin: 0 auto;
    }

    .successMainBox {
        margin-bottom: 20px
    }
</style>
