@using OnlineShop.Models
@{
    var db = new OnlineShopEntities();
    ViewBag.Title = "Create";
    Layout = null;
}

<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">لیست برند ها</h5>
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            @*<span class="text-muted font-weight-bold mr-4">#XRS-45670</span>*@
            <a href="#/admin/ProductsBrands/index" class="btn btn-light-warning font-weight-bolder btn-sm">لیست برند ها</a>
            <!--end::Actions-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">


        </div>
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->



<!-- end:: Content Head -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            اطلاعات برند جدید
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form myForm" method="post" action="/admin/ProductsBrands/Create_Brand" data-redirect="/Admin/AdminDashboard/Index#/Admin/ProductsBrands/index">
                    <div class="kt-portlet__body">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>عنوان برند</label>
                            <input type="text" class="form-control" placeholder="عنوان برند" name="title">
                            <span class="form-text text-muted">برند شما با این عنوان نمایش داده می شود </span>
                        </div>
                        <div class="form-group">
                            <label>لینک برند</label>
                            <input type="text" class="form-control" placeholder="لینک سایت برند" name="link">
                            @*<span class="form-text text-muted"> با کلیک بر روی این اسلایدر به این لینک هدایت می شوید</span>*@
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-2 col-form-label">
                                عکس برند
                            </label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <div class="m-dropzone dropzone" action="/admin/ProductsBrands/upload" id="m-dropzone-one">
                                    <div class="m-dropzone__msg dz-message needsclick">
                                        <h3 class="m-dropzone__msg-title">
                                            فایل عکس را اینجا بندازید یا برای آپلود کلیک کنید
                                        </h3>
                                        @*<span class="m-dropzone__msg-desc">
                                                عکس آپلود شده به عنوان عکس پروفایل کاربر نمایش داده می شود
                                            </span>*@
                                    </div>
                                </div>
                                <input type="text" class="hidden" id="img" name="logo" style="display:none" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-primary">ایجاد برند جدید</button>
                            <a href="/Admin/AdminDashboard/Index#/Admin/ProductsBrands/index" class="btn btn-secondary">انصراف</a>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->

        </div>

    </div>
</div>

<script>
    titlePage('ایجاد برند جدید')
</script>
<script>
    $('.dropzone').dropzone({
        success: function (file, response) {
            $('#img').val(response)
        }
    });
</script>
<script>
    try {
        $('.kt-menu__item--active').removeClass('kt-menu__item--active')
    } catch (e) {

    }
    $('[data-Menu="productsBrands"]').addClass('kt-menu__item--active')

</script>