@{ 
    Layout = null; 
}
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-post p2">
                <div class="blog-item mb-md-0">
                    <figure class="blog-img mb-0">
                        <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/featured-post-01.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="blog-info">
                        <a href="javascript:void(0);" class="post-category">موضه</a>
                        <h3 class="post-title">
                            <a href="right-sidebar.html">باستثناء بعض الحالات التي لا علاقة لها بها ، يجب أن تفعل ذلك في.</a>
                        </h3>
                        <ul class="list-inline meta">
                            <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right-post">
                <div class="row">
                    <div class="col">
                        <div class="blog-item mb">
                            <figure class="blog-img mb-0">
                                <a href="javascript:void(0);">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/featured-post-02.jpg" alt="" class="img-fluid">
                                </a>
                            </figure>
                            <div class="blog-info">
                                <a href="javascript:void(0);" class="post-category">السفر</a>
                                <h3 class="post-title mb-0">
                                    <a href="right-sidebar.html">باستثناء بعض الحالات التي لا علاقة لها بها ، يجب أن تفعل ذلك في.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-item mr">
                            <figure class="blog-img mb-0">
                                <a href="javascript:void(0);">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/featured-post-03.jpg" alt="" class="img-fluid">
                                </a>
                            </figure>
                            <div class="blog-info">
                                <a href="javascript:void(0);" class="post-category">طعام</a>
                                <h3 class="post-title mb-0">
                                    <a href="right-sidebar.html">بال أم خيار </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-item mb-0 ml">
                            <figure class="blog-img mb-0">
                                <a href="javascript:void(0);">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/featured-post-04.jpg" alt="" class="img-fluid">
                                </a>
                            </figure>
                            <div class="blog-info">
                                <a href="javascript:void(0);" class="post-category">تقنية</a>
                                <h3 class="post-title mb-0">
                                    <a href="right-sidebar.html">عدد لم جورج أو</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

