@{ 
    Layout = "/views/shared/_Blog.cshtml";
}   
 <!-- Main Content Section Starts Here -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Layout 01 Start -->
                <section class="layout-01">
                    <div class="section-title">
                        <h2 class="title">لا تفوت</h2>
                    </div>
                    <div class="layout layout-01-slider">
                        <div class="item-single">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-contant">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-01.jpg" alt="" class="img-fluid">
                                                <a href="javascript:void(0);" class="post-category">السفر</a>
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">جُل قدما قبضتهم الإنذار، ع</a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                                </ul>
                                                <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="right-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-02.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عن كما وإيطالي </a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-03.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">من لها أسابيع الانج</a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-04.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">أخذ و شعار يوني</a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-05.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عن كما وإيطالي </a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-single">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-contant">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-06.jpg" alt="" class="img-fluid">
                                                <a href="javascript:void(0);" class="post-category">تقنية</a>
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عن كما وإيطالي الأوروبيّون,</a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                                </ul>
                                                <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="right-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-07.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عدد لم جورج</a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-08.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">بال أم خيار </a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-09.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عدد لم جورج </a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-10.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">جُل قدما قبض</a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-single">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-contant">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-11.jpg" alt="" class="img-fluid">
                                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">تحرير الستار لليابان فعل </a>
                                                </h3>
                                                <ul class="list-inline meta mb-0">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                                </ul>
                                                <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="right-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-12.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">أخذ و شعار يوني</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-13.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">ثم الشهي</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-14.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">من لها أسابيع الانج</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-01-15.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">أخذ و شعار يوني </a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Layout 01 End -->
                <!-- Layout 02 Start -->
                <section class="layout-02">
                    <div class="section-title">
                        <h2 class="title">أخبار لايف ستايل</h2>
                    </div>
                    <div class="layout layout-02-slider">
                        <div class="item-single">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-01.jpg" alt="" class="img-fluid">
                                                <a href="javascript:void(0);" class="post-category">أسلوب الحياة</a>
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عن كما وإيطالي الأوروبيّون,</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                                </ul>
                                                <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-02.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">بال أم خيار </a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-03.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">جُل قدما قبض</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="top-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-04.jpg" alt="" class="img-fluid">
                                                <a href="javascript:void(0);" class="post-category">السفر</a>
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عن كما وإيطالي الأوروبيّون,</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                                </ul>
                                                <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-05.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">بال أم خيار </a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-06.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">جُل قدما قبض</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-single">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-07.jpg" alt="" class="img-fluid">
                                                <a href="javascript:void(0);" class="post-category">موضه</a>
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">قد غضون مشاركة دار.</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                                </ul>
                                                <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-08.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">أخذ و شعار يون</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-09.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">عن كما وإيطالي </a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="top-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-10.jpg" alt="" class="img-fluid">
                                                <a href="javascript:void(0);" class="post-category">العيش</a>
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">تحرير الستار لليابان فعل ه</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                                </ul>
                                                <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-content">
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-11.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">قد غضون مشاركة دار.</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-item">
                                            <figure class="mb-0 blog-img">
                                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-02-12.jpg" alt="" class="img-fluid">
                                            </figure>
                                            <div class="blog-info">
                                                <h3 class="post-title">
                                                    <a href="right-sidebar.html">جُل قدما قبضتهم الإن</a>
                                                </h3>
                                                <ul class="list-inline meta">
                                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Layout 02 End -->
                <!-- Layout 03 Start -->
                <section class="layout-03">
                    <div class="section-title">
                        <h2 class="title">تصميم البيت</h2>
                    </div>
                    <div class="layout layout-03-slider">
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-01.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">قد غضون مشاركة دار.</a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-02.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">أخذ و شعار يونيو الأوضاع</a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-03.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">أسرة, الجنرال الحيل</a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-04.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">أخذ و شعار يونيو الأوضا</a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-05.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">عن كما وإيطالي الأوروبيّون, </a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-06.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">تحرير الستار لليابان فعل </a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-07.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">جُل قدما قبضتهم الإنذار، ع</a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-08.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">تحرير الستار لليابان فعل </a>
                                </h3>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/home-09.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">الداخلية</a>
                            </figure>
                            <div class="blog-info">
                                <h3 class="post-title">
                                    <a href="right-sidebar.html">عن كما وإيطالي الأوروبيّون,</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Layout 03 End -->
                <!-- Layout 04 Start -->
                <section class="layout-04">
                    <div class="section-title">
                        <h2 class="title">تدريب الأداء</h2>
                    </div>
                    <div class="layout">
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-04-01.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">اللياقه البدنيه</a>
                            </figure>
                            <div class="blog-info pt-md-0">
                                <h3 class="post-title mt-0">
                                    <a href="right-sidebar.html">من لها أسابيع الانجليزية</a>
                                </h3>
                                <ul class="list-inline meta">
                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                </ul>
                                <p class="mb-0">ثم الشهيرة الانجليزية تحت. بحث مع الإكتفاء الإتفاقية, ان تعداد بالمحور الى. أم شدّت الأ....</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-04-02.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">أسلوب الحياة</a>
                            </figure>
                            <div class="blog-info pt-md-0">
                                <h3 class="post-title mt-0">
                                    <a href="right-sidebar.html">من لها أسابيع الانج</a>
                                </h3>
                                <ul class="list-inline meta">
                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                </ul>
                                <p class="mb-0">ثم الشهيرة الانجليزية تحت. بحث مع الإكتفاء الإتفاقية, ان تعداد بالمحور الى. أم شدّت الأ...</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-04-03.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">موضه</a>
                            </figure>
                            <div class="blog-info pt-md-0">
                                <h3 class="post-title mt-0">
                                    <a href="right-sidebar.html">أخذ و شعار يونيو الأوضاع</a>
                                </h3>
                                <ul class="list-inline meta">
                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                </ul>
                                <p class="mb-0">ثم الشهيرة الانجليزية تحت. بحث مع الإكتفاء الإتفاقية, ان تعداد بالمحور الى. أم شدّت الأ...</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-04-04.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">عائلة العائلة</a>
                            </figure>
                            <div class="blog-info pt-md-0">
                                <h3 class="post-title mt-0">
                                    <a href="right-sidebar.html">ثم الشهيرة الانجليزية تحت</a>
                                </h3>
                                <ul class="list-inline meta">
                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                </ul>
                                <p class="mb-0">ثم الشهيرة الانجليزية تحت. بحث مع الإكتفاء الإتفاقية, ان تعداد بالمحور الى. أم شدّت الأ...</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-04-05.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">اللياقه البدنيه</a>
                            </figure>
                            <div class="blog-info pt-md-0">
                                <h3 class="post-title mt-0">
                                    <a href="right-sidebar.html">قد غضون مشاركة دار.</a>
                                </h3>
                                <ul class="list-inline meta">
                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                </ul>
                                <p class="mb-0">عن كما وإيطالي الأوروبيّون, قام كنقطة بقيادة الخارجية من. من للجزر لبلجيك..</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <figure class="mb-0 blog-img">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-04-06.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="post-category">اعمال</a>
                            </figure>
                            <div class="blog-info pt-md-0">
                                <h3 class="post-title mt-0">
                                    <a href="right-sidebar.html">أسرة, الجنرال ا</a>
                                </h3>
                                <ul class="list-inline meta">
                                    <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                    <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                </ul>
                                <p class="mb-0">أسرة, الجنرال الحيلولة ضرب كل. شعار قِبل تغييرات في قبل, إذ دون بالرّد واشتد..</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Layout 04 End -->
                <!-- Layout 05 Start -->
                <section class="layout-05">
                    <div class="section-title">
                        <h2 class="title">تدريب الأداء</h2>
                    </div>
                    <div class="layout mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="mb-0 blog-img">
                                        <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-05-01.jpg" alt="" class="img-fluid">
                                        <a href="javascript:void(0);" class="post-category">طعام</a>
                                    </figure>
                                    <div class="blog-info">
                                        <h3 class="post-title">
                                            <a href="right-sidebar.html">أسرة, الجنرال ا</a>
                                        </h3>
                                        <ul class="list-inline meta">
                                            <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                            <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                        </ul>
                                        <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="mb-0 blog-img">
                                        <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-05-02.jpg" alt="" class="img-fluid">
                                        <a href="javascript:void(0);" class="post-category">نمط الحياة</a>
                                    </figure>
                                    <div class="blog-info">
                                        <h3 class="post-title">
                                            <a href="right-sidebar.html">قد غضون مشاركة دار. الى أي أ</a>
                                        </h3>
                                        <ul class="list-inline meta">
                                            <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                            <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                        </ul>
                                        <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="mb-0 blog-img">
                                        <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-05-03.jpg" alt="" class="img-fluid">
                                        <a href="javascript:void(0);" class="post-category">التعليم</a>
                                    </figure>
                                    <div class="blog-info">
                                        <h3 class="post-title">
                                            <a href="right-sidebar.html">قد غضون مشاركة دار. الى أي</a>
                                        </h3>
                                        <ul class="list-inline meta">
                                            <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                            <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                        </ul>
                                        <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-item">
                                    <figure class="mb-0 blog-img">
                                        <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/layout-05-04.jpg" alt="" class="img-fluid">
                                        <a href="javascript:void(0);" class="post-category">الشركات</a>
                                    </figure>
                                    <div class="blog-info">
                                        <h3 class="post-title">
                                            <a href="right-sidebar.html">بال أم خيار يتبقّ, أن ومن اتّ</a>
                                        </h3>
                                        <ul class="list-inline meta">
                                            <li class="list-inline-item">قد ٢٤, ٢٠٢٠  </li>
                                            <li class="list-inline-item"><i class="fa fa-eye"></i>٣٢٥٨</li>
                                            <li class="list-inline-item"><a href="#"><i class="fa fa-comments"></i>٦٥</a></li>
                                        </ul>
                                        <p>قد غضون مشاركة دار. الى أي أساسي للأراضي وانتهاءً, بزمام قتيل، حتى أي. من لان السيء وإقامة الكونجرس, واُسدل إستعمل الأبرياء مدن ان. الى ميناء النزاع أي...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Layout 05 End -->
                <div class="blog-pagination text-center mb-5 mb-md-0">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link d-inline-flex align-items-center justify-content-center" href="#">1</a></li>
                            <li class="page-item"><a class="page-link d-inline-flex align-items-center justify-content-center" href="#">2</a></li>
                            <li class="page-item"><a class="page-link d-inline-flex align-items-center justify-content-center" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Sidebar Start -->
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget stay-connected">
                        <div class="section-title">
                            <h2 class="title">ابق على اتصال</h2>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget newsletter">
                        <div class="newsletter-form">
                            <h4 class="title">الحصول على تحديثات البريد الإلكتروني</h4>
                            <p>انضم إلى أكثر من ٨٠.٠٠٠ مشترك رائع وقم بتحديث نفسك بأخبارنا الحصرية.</p>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="أدخل عنوان البريد الالكتروني">
                                </div>
                                <button type="submit" class="btn btn-red">الإشتراك</button>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget-trending-posts">
                        <div class="section-title">
                            <h2 class="title">الأكثر شهرة</h2>
                        </div>
                        <div class="posts">
                            <div class="post d-flex">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/most-viewed-01.jpg" alt="" class="img-fluid align-self-center">
                                <div class="post-info d-flex flex-column justify-content-center">
                                    <h3 class="post-title"><a href="right-sidebar.html">قد غضون مشاركة دار.</a></h3>
                                    <span class="post-date">قد ٢٤, ٢٠٢٠ </span>
                                </div>
                            </div>
                            <!--post end-->
                            <div class="post d-flex">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/most-viewed-02.jpg" alt="" class="img-fluid align-self-center">
                                <div class="post-info d-flex flex-column justify-content-center">
                                    <h3 class="post-title"><a href="right-sidebar.html">جُل قدما قبضتهم الإنذار، ع</a></h3>
                                    <span class="post-date">قد ٢٤, ٢٠٢٠ </span>
                                </div>
                            </div>
                            <!--post end-->
                            <div class="post d-flex">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/most-viewed-03.jpg" alt="" class="img-fluid align-self-center">
                                <div class="post-info d-flex flex-column justify-content-center">
                                    <h3 class="post-title"><a href="right-sidebar.html">قد غضون مشاركة دار.</a></h3>
                                    <span class="post-date">قد ٢٤, ٢٠٢٠ </span>
                                </div>
                            </div>
                            <!--post end-->
                            <div class="post d-flex">
                                <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/most-viewed-04.jpg" alt="" class="img-fluid align-self-center">
                                <div class="post-info d-flex flex-column justify-content-center">
                                    <h3 class="post-title"><a href="right-sidebar.html">عن كما وإيطالي الأوروب</a></h3>
                                    <span class="post-date">قد ٢٤, ٢٠٢٠ </span>
                                </div>
                            </div>
                            <!--post end-->
                        </div>
                        <!--posts end-->
                    </div>
                    <div class="widget widget-recent-post">
                        <div class="section-title">
                            <h2 class="title">اختيار المحرر</h2>
                        </div>
                        <div id="recent-post-slider" class="mb-3">
                            <div class="item">
                                <a href="#">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/post-01.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/post-02.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/post-03.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/post-04.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/post-05.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget-promo">
                        <a href="#">
                            <img src="/BlogFiles/theme-forest-demo/nelluce/news/ar//img/promo.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="widget widget-catgs">
                        <div class="section-title">
                            <h2 class="title">التصنيفات</h2>
                        </div>
                        <ul class="catgs-links list-unstyled mb-0">
                            <li><a href="#">ألعاب</a></li>
                            <li><a href="#">وسائل الترفيه</a></li>
                            <li><a href="#">أسلوب الحياة</a></li>
                            <li><a href="#">تقنية</a></li>
                            <li><a href="#">المعيشة</a></li>
                            <li><a href="#">موضه</a></li>
                            <li><a href="#">التعليم</a></li>
                            <li><a href="#">السفر</a></li>
                        </ul>
                        <!--catgs-links end-->
                    </div>
                </div>
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Main Content Section Ends Here -->
